<html>
    <body>
  
        <h1>add Goose</h1>
        <form action="/geese" method="post">
            <label for="username">Enter name: </label>
            <input id="username" type="text" name="name">
            <input type="submit" value="OK">
        </form>
    </body>
</html>